services:
  hapi-fhir-test:
    image: phillezi/fhir-test:latest
    restart: on-failure
    depends_on:
      - hapi-fhir-db
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://hapi-fhir-db:5432/hapi"
      SPRING_DATASOURCE_USERNAME: "admin"
      SPRING_DATASOURCE_PASSWORD: "admin"
      SPRING_DATASOURCE_DRIVERCLASSNAME: "org.postgresql.Driver"
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: "ca.uhn.fhir.jpa.model.dialect.HapiFhirPostgres94Dialect"
      HAPI_FHIR_BULK_IMPORT_ENABLED: true
    ports:
      - "8080:8080"

  hapi-fhir-db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: "hapi"
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
    volumes:
      - hapi-fhir-postgres:/var/lib/postgresql/data

  fileserver:
    image: phillezi/tinyhttpfileserver
    restart: always
    ports:
      - "8000:8080"
    volumes:
      - ./fhir-data:/static

volumes:
  hapi-fhir-postgres:
